<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AutomationGmailTestResult" verbose="1">
    <test name="Gmail Email Deletion Test" preserve-order="true">
        <classes>
            <class name="com.example.automationTest">
                <methods>
                    <include name="testGmailEmailDeletion"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
